
body {
  padding: 0%;
  margin: 0%;
  background-color: transparent;
}
img {
  width: 100%;
}
#expImgfix {
  max-width: 96%;
}
.container {
  display: block;
  margin: 0% auto;
  width: 65%;
  /*align-items: center;*/
  /*padding-top: 10%;
  padding-bottom: 5%;*/
}
.row {
  display: block;
  width: 100%;
}
.center {
  justify-content: center;
}
.midPar {
  width: 55%;
}
.conclusion {
  width: 70%;
}
.columns {
  display: flex;
}
.col {
  width: 45%;
  /* word-wrap: break-word; */
}
.twoCol {
  margin-left: 5%;
  /* -webkit-justify-content: space-between;
   display: flex;
   justify-content: space-between; */
}
.infografica {

}
.container-wide {
  overflow: hidden;
  padding: 5% 0%;
  margin: 0;
  background-color: #dfe3e8;
}
/* #padExc {
  padding-right: 10%;
  padding-left: 5%;
}
@media only screen and (min-width: 1200px) {
  #padExc {
    padding-left: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  #padExc {
    padding-left: 10%;
  }
}
@media only screen and (max-width: 1000px) {
  #padExc {
    padding-left: 10%;
  }
}
@media only screen and (max-width: 900px) {
  #padExc {
    padding-left: 10%;
  }
} */
#investments, #impact, #pootential, #feasible, #opinion, #source {
  /*padding: 0% 10%;*/
}

p {
  word-wrap: break-word;
}

/*introduction*/
#intro {
  padding-top: 5%;
}
#intro div {
  border: 2px #FF6961;
}
#intro row {
  border: 2px #87F9FF;
}
#robotdef, #aidef {
}
#robotdef {
  margin-left: 10%;
}
.greenruler, .blueruler {
  width: 100%;
  min-height: 15px;
}
.blueruler {
  background-color: #187F8B;
}
.greenruler {
  background-color: #52A7B1;
}
.btn {
  color: white;
  background-color: #333333;
  margin: 0% auto;
  border-radius: 0;
}
.btn-primary {
  border: none;
}
.btn:hover {
  color: #333333;
  background-color: white;
  border: 2px #333333;
}
#aibutton, #robotbutton {
  border-radius: 100%;
  margin-left: 45%;
}


#employees_button, #wages_button {
  border-radius: 0%;
}

/*svgtest*/
#cerchio:hover {
  fill: #333333;
  width: 120px;
  stroke: white;
  transition: .5s ease-out;
}

/*Quotation*/
.introQuotation {
  width: 80%;
}
.quotAuthor {
  display: flex;
  justify-content: flex-end;
}
#smallquot {
  margin-left: 40%;
}

.quotation {
  /* background-color: #DFE3E8; */
  /* padding: 6% 5%; 10% */
}
.quotationgpad {
  /* background-color: #DFE3E8; */
  padding: 6% 10%;
}
/* @media only screen and (max-width: 900px) {
  padding: 6% 4%;
  padding-left: 5%;
} */
#author {
  font-style: bold;
  line-height: 3;
}
#authRole {
  font-style: italic;
  font-weight: normal;
  line-height: 1.5;
}

/* Workforce revolution */
.legendaWork{
  width: 15vw;
  height: 100%;
  padding-top: 2%;
}
.legendaFeas {
  max-width: 90%;
  height: auto;
}
/*Treemap*/
#potential {
  /*margin-left: 6%;*/
}
#potentialpar {
  /*margin-top: -3%;*/
  padding-top: 0;
}

.treemapW {
  width: 100%;
}
/* @media only screen and (min-width: 1500px) {
  .treemapW {
    width: 70vw;
  }
}
@media only screen and (max-width: 1500px) {
  .treemapW {
    width: 85vw;
  }
} */

/*feasible impact*/
#feaslegend {
  margin-top: 5%;
  padding-right: 0%;
}
#heatmap-container {
  padding-top: 0%;
  margin-top: 0%;
}

#tasktop {
  margin-top: -12%;
}
/* @media only screen and (max-width: 980px) {
  #tasktop {
    margin-top: 0%;
  }
} */
#schwab {
  /*padding: 0;*/

}


/*Typography*/
/* Fonts */
body {
  font-family: 'main-regular';
  }
.fulltitle, .subtitle, .introQuotation, .economyTitle, .title {
  font-family: 'title-bold';
  font-weight: bold;
}
/* Sizes */
body {
  font-size: 1.1rem;
}
.fulltitle {
  font-size: 3rem;
}
.economyTitle, .title {
  font-size: 2rem;
}
.introQuotation {
  font-size: 1.6rem;
}
.subtitle {
  font-size: 1.3rem;
}

a {
  /*color: #212529;*/
  color: darkred;
  text-decoration: none;
}
a:hover {
  /*color: #2ecc71;*/
  color: red;
  text-decoration-style: dotted;
}

.text-right{
  text-align: right;

}

#def a {
}
#bluehigh {
  font-weight: bold;
  color: #187F8B;
}
#greenhigh {
  font-weight: bold;
  color: #52A7B1;
}
#source {
  text-decoration:underline;
  color: grey;
  font-family: 'main-condensed_regular';
}
#source:hover {
  text-decoration: underline;
  color: black;
}
.container-wide #source {
  color: dimgrey;
}
.container-wide #source:hover {
  color: black;
}


.fulltitle {
  display: block;
  width: 100%;
  /* letter-spacing: 4px; */
  margin-bottom: 3%;
}

#smallquot {
  font-size: 1rem;
  line-height: 1.5rem;
}
/*big question marks in opinion*/
#quest {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 2%;
  margin-left: 2%;
}
.so {
  font-size: 6rem;
  font-weight: bold;
  margin-right: 2%;
}

/*Various elements*/
.separator {
  min-width: 100%;
  height: 3%;
  /* background-color: transparent; */
  background-color: lightGrey;
  margin: 5% 0% 0% 0%;
}


/*Responsive*/

@media only screen and (max-width:1280px) {
/* Layout */
  .container {
    padding: 7%;
    width: 85%;
  }
   img{
    width: 100%;
  }
  .midPar {
    width: 75%;
  }
  .conclusion {
    width: 75%;
  }
  .columns {
    display: block;
  }
  .col {
    width: 75%;
  }
  .twoCol {
    margin-left: 0%;
  }
  .infografica {
    padding: 5% 0%;
  }
  .container-wide {
    padding: 5% 0%;
    margin: 0;
  }
  .blueruler, .greenruler {
    margin-top: -3%;
  }
  #robotdef {
    margin-left: 0%;
    margin-top: 15%;
  }
  .quotAuthor {
    margin-right: 5%;
  }
  #smallquot {
    margin-left: 5%;
  }
  .legendaWork {
    width: 45vw;
  }
  .legendaFeas {
    width: 60vw;
  }
  /* expertopinion */
  #expImgfix {
    margin: 5% 0%;
    width: 100%;
  }


/* Typography */
  body{
    font-size: 1rem;
  }
  .fulltitle {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  .economyTitle {
    font-size: 2rem;
  }

}
